scope=cactus-technologies
init-author-name=Cactus Technologies LLC
init-author-email=hi@cactus.is
init-author-url=https://www.cactus.is
init-license=MIT
init-version=1.0.0
scripts-prepend-node-path=true
